body{font-family:Lato;}
.wrapper{width:100%;}
#flags{position:fixed;right:left;bottom:0;font-family:Lato, Arial;}#flags>div{width:200px;position:relative;border:1px solid #DDD;}#flags>div>span{position:absolute;width:80px;right:5px;text-align:right;color:blue;}
#panel{position:fixed;right:0;top:0;bottom:0;border:1px solid #DDD;width:220px;box-sizing:border-box;background:rgba(200, 200, 200, 0.8);color:#444;padding:10px;box-shadow:5px 5px 5px rgba(0, 0, 0, 0.4);}#panel .control{box-sizing:border-box;padding:10px;border-bottom:1px solid #DDD;}#panel .control label{display:block;}
#panel .control input[type=range]{vertical-align:top;}
#panel .control .label{float:right;}
#panel .bottom{position:absolute;bottom:0;}
#panel #legenda{font-size:13px;}#panel #legenda .square{background:black;width:10px;height:10px;display:inline-block;border-radius:50px;}#panel #legenda .square[data-bot=top]{background:black;}
#panel #legenda .square[data-bot=elite]{background:#088;}
#panel #legenda .square[data-bot=bmutation]{background:green;}
#panel #legenda .square[data-bot=bcrossover]{background:yellow;}
#panel #legenda .square[data-bot=ordinary]{background:#F5A;}
#stopped{display:none;position:absolute;width:700px;margin-left:-460px;left:50%;height:300px;top:50%;margin-top:-200px;font-size:200px;font-weight:bolder;color:#444;opacity:.6;vertical-align:middle;text-transform:lowercase;text-align:center;}
